<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navigation(user)">
    <nav class="navbar navbar-expand-md px-4">
        <div class="container">

            <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
                <img src="https://res.cloudinary.com/dqm8yufmb/image/upload/v1733780257/IMG_7118_ljnhbj.jpg"
                     width="30" height="30" class="d-inline-block align-text-top m-2" alt="logo">
                <span class="logo">Lodgify</span>
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <div th:if="${user != null}">
                        <div class="nav-item ms-2 d-flex align-items-center">
                            <a th:href="@{/addadvert}" class="custom-btn" style="font-size: 13px">Разместить объявление</a>
                        </div>

                        <li class="nav-item dropdown d-flex align-items-center">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" id="profileDropdown"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img th:src="${#strings.isEmpty(user.profilePhotoUrl)} ?
                                       'https://res.cloudinary.com/dqm8yufmb/image/upload/v1733780390/%D0%94%D0%B5%D1%84%D0%BE%D0%BB%D1%8C%D1%82%D0%BD%D0%B0%D1%8F_%D0%B0%D0%B2%D0%B0%D1%82%D0%B0%D1%80%D0%BA%D0%B0_adpx3f.jpg'  : ${user.profilePhotoUrl}"
                                     class="rounded-circle me-2" width="40" height="40"/>
                                <span class="me-2 fw-bold user-name" th:text="${user.name}">Имя</span>
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="profileDropdown">
                                <li><a class="dropdown-item" th:href="@{/settings}">Настройки</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" th:href="@{/logout}">Выйти</a></li>
                            </ul>
                        </li>
                    </div>

                    <div th:unless="${user != null}">
                        <li class="nav-item">
                            <a th:href="@{/signIn}" class="custom-btn">Войти</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="custom-divider"></div>

    <nav class="navbar navbar-expand-md px-4">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/main}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/apartments}">Квартиры</a>
                    </li>
                    <li th:if="${user != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/favorites}">Избранные</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>