.main-page {
    background-image: url("https://res.cloudinary.com/dqm8yufmb/image/upload/v1734010773/main-background2_ezbqv2.jpg");
    background-size: cover;
    background-position: top center;
    height: 35vh;
}

.background-container-main {
    height: 100%;
    backdrop-filter: blur(4px);
}
