<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Детальная информация</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div id="carouselExampleRide" class="carousel slide mb-4 shadow" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div th:each="photo, status : ${apartmnetPhoto}"
                         th:class="'carousel-item ' + ${status.first ? 'active' : ''}">
                        <img th:src="${photo}" class="d-block w-100" alt="Фото квартиры">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-6">
            <h2 class="apartment-title fw-bold d-flex align-items-center justify-content-between" style="color: #1a1d20;">
                <span th:text="${apartment.title}"></span>
                <div sec:authorize="isAuthenticated()">
                    <button id="favoriteButton" class="btn btn-outline-danger ms-3" onclick="toggleFavorite()"
                            th:attr="data-apartment-id=${apartment.id}">
                        <i id="heartIcon" th:class="'bi ' + (${isFavorite == 'true'} ? 'bi-heart-fill' : 'bi-heart')" style="font-size: 1.5em;"></i>
                    </button>

                </div>
            </h2>

            <p class="price fs-4" th:if="${type == 'sale'}">
                Цена продажи: <span th:text="${apartment.priceSale}"></span> ₽
            </p>

            <p class="price fs-4" th:if="${type == 'rent'}">
                Цена аренды: <span th:text="${apartment.priceRent}"></span>
                <span th:text="${apartment.typeOfRent == 'SHORT_TERM'} ? '₽/сутки' : '₽/мес'"></span>
            </p>

            <p><strong>Адрес:</strong> <span th:text="${apartment.address}"></span></p>
            <p><strong>Тип недвижимости:</strong> <span th:text="${apartment.typeOfApartment}"></span></p>
            <p><strong>Количество комнат:</strong> <span th:text="${apartment.roomsCount}"></span></p>
            <p><strong>Площадь:</strong> <span th:text="${apartment.area}"></span> м²</p>
            <p th:if="${type == 'rent'}"><strong>Тип аренды:</strong> <span th:text="${apartment.typeOfRent}"></span></p>

            <p>Authenticated: <span sec:authorize="isAuthenticated()">true</span><span sec:authorize="isAnonymous()">false</span></p>
            <p>Username: <span sec:authentication="name">anonymous</span></p>



            <div class="d-flex gap-3 mt-4">
                <div sec:authorize="hasRole('ADMIN')">
                <form method="post" th:action="@{/admin}">
                        <input type="hidden" name="apartmentId" th:value="${apartment.id}">
                        <input type="hidden" name="dealType" th:value="${type}">
                        <button class="btn btn-success w-100" type="submit" name="action" value="approve">Одобрить</button>
                    </form>

                    <form method="post" th:action="@{/admin}">
                        <input type="hidden" name="apartmentId" th:value="${apartment.id}">
                        <input type="hidden" name="dealType" th:value="${type}">
                        <button class="btn btn-danger w-100" type="submit" name="action" value="reject">Отклонить</button>
                    </form>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <button id="phoneButton" class="btn btn-primary" type="button" onclick="showPhoneNumber()">
                        Показать телефон
                    </button>

                    <div id="phoneNumber" class="mt-2 d-flex align-items-center gap-4 d-none">
                        <p class="mb-0"><strong>Телефон:</strong></p>
                        <span class="text-body fw-normal" th:text="${phone}"></span>
                        <p class="mb-0 ms-4"><strong>Telegram:</strong></p>
                        <a class="text-primary text-decoration-underline fw-normal"
                           th:href="${telegram}" th:text="${telegram}"></a>
                    </div>
                </div>

                <div sec:authorize="isAnonymous()">
                    <a class="text-danger" th:href="@{/authorization}">
                        Зарегистрируйтесь, чтобы связаться с арендодателем
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 justify-content-center">
        <div class="col-8 text-center">
            <p class="description" style="word-wrap: break-word;
                                  overflow-wrap: break-word;
                                  white-space: normal;
                                  word-break: break-all;"
               th:text="${apartment.description}">
            </p>
        </div>
    </div>
</div>

<script>
    async function toggleFavorite() {
        const button = document.getElementById('favoriteButton');
        const apartmentId = button.getAttribute('data-apartment-id');
        try {
            const response = await fetch(`/api/favorites/${apartmentId}/toggle`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest'
                },
                credentials: 'same-origin'
            });

            if (response.ok) {
                const isFavorite = await response.json();
                const heartIcon = document.getElementById('heartIcon');

                if (isFavorite) {
                    heartIcon.classList.remove('bi-heart');
                    heartIcon.classList.add('bi-heart-fill');
                } else {
                    heartIcon.classList.remove('bi-heart-fill');
                    heartIcon.classList.add('bi-heart');
                }
            } else {
                alert('Ошибка при изменении статуса избранного');
            }
        } catch (error) {
            console.error('Ошибка:', error);
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>